<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ css_href }}">
    <link rel="stylesheet" href="{{ table_css_ref }}">
</head>
<body>
{% include "title.html" %}

{% if stats %}
    {% include "stats.html" %}
{% endif %}

{% if sentiment %}
    {% include "sentiments.html" %}
{% endif %}

{% if segments %}
    {% include "segments.html" %}
{% endif %}

{% if intents %}
    {% include "intents.html" %}
{% endif %}
</body>
</html>